/***************
** PUBLICATIONS
***************/
.publications {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;

    section:first-of-type {
        width: 75%;
        margin: 4rem auto;
    }

	section.contenu {
		background-color: lighten($bleu, 20%);
        margin: 3rem 0;
		padding: 3em;

		h2 {
			text-align: center;
			font-size: 2rem;
			color: #fff;
		}

		hr {
			border: 2px solid $bleu-fonce;
		}

		.publication {
			margin-top: 2rem;

			.titre {
				color: $noir;
			}

			.auteur {
				color: $bleu-fonce;		
				
				span {
					display: block;
				}
			}

			.description {
				margin: 1rem 0;
				line-height: 1.5;				
			}

			.image {
				width: 50%;
				display: block;
				margin: 1rem auto;
				object-fit: cover;
			}
		}
	}

	.utilisateur {
		h2 {
			text-align: center;
		}

		.deconnexion {
			display: block;
			width: fit-content;
			margin: 0 auto;
			text-decoration: none;
		}
	}

	form {
		label {
			margin-bottom: 1rem;

			& > p {
				color: #fff;
			}
		}

		.titre {
			width: 100%;
		}

		.description {
			width: 100%;
			height: 100px;
		}

		& > div {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		input[type='submit'] {
			margin-top: 0;
		}
	}
}