/***************
** UTILITAIRES
***************/
// Logo
.logo {
	font-family: 'Poppins', sans-serif;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 1rem;
	font-size: 3rem;
	color: #fff;

	&::after {
		content: '';
		display: block;
		height: 5px;
		width: 100%;
		background-color: $jaune;
		transform: translateY(-5px);
	}
}

// MESSAGES (succès et erreur)
.msg {
	padding: 0.5em 1em;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;

	.material-icons {
		margin-right: 0.5rem;
	}

	&.erreur {
		background-color: lightcoral;
		color: darkred;
	}

	&.succes {
		background-color: lightgreen;
		color: green;
	}
}

// BOUTONS (submit)
.btn {
	margin-top: 2rem;
	padding: 0.75em;
	cursor: pointer;

	&.submit {
		color: $noir;
		background-color: $jaune;
        transition: all .1s;
         
        &:hover {
            color: $jaune;
            background-color: $noir;
        }
	}

	&.deconnexion {
		color: $bleu;
		background-color: $bleu-fonce;
        border: 2px solid $bleu;
        transition: all .1s;

        &:hover {
            color: $bleu-fonce;
            background-color: $bleu;
            border: 2px solid $bleu-fonce;
        }
	}
}

// FORMULAIRE ET CHAMPS
form {
	display: flex;
	flex-direction: column;

	input,
	textarea {
		border: none;
		background: none;
		font-size: 1.25rem;
        color: #fff;

		&[type='email'],
		&[type='password'],
		&[type='text'] {
			background-color: $bleu-fonce;			
			padding: 0.5em;
			margin-bottom: 0.5rem;
		}
	}

	textarea {
		background-color: $bleu-fonce;
	}
}
