@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f2f2f0;
    color: #2d3441;
}